Repository CompassSoftware/GSEAT, pull requests merged in 2019-12, with the labels that each got.

#128 Commit remove date updated
  src/Extraction_Demo.java
  src/extraction/Extraction.java
  src/github/Collaborator.java
  src/github/Commit.java
  src/github/CommitTest.java
  src/github/Issue.java
  src/makefile
  src/makefile_ext
Labels: extraction

#126 small makefile changes
  src/makefile
  src/makefile_ext
Labels: extraction

#131 Demo3
  Selection/ListOutput.java
  src/Demo.java
  src/Demo_s.java
  src/makefile
  src/selection/Get_Info.java
  src/selection/GitUser.java
  src/selection/Greeting.java
  src/selection/ListOutput.java
Labels: selection

#129 percent contrib by collab with test
  src/analysis/.Analysis.java.swp
  src/analysis/Analysis.java
  src/analysis/AnalysisTest.java
Labels: Analysis

#138 add a way to stop program
  src/Demo.java
  src/makefile
  src/selection/Get_Info.java
  src/selection/ListOutput.java
  src/selection/Repo_Info.java
Labels: selection

#140 made test changes
  src/github/RepositoryTest.java
Labels: extraction

#142 small RepositoryTestFixes
  src/github/RepositoryTest.java
Labels: extraction
