Repository CompassSoftware/GSEAT, pull requests merged in 2019-11, with the labels that each got.

#17 add folder include basic files(Selection.java SelectionTest.java make…
  Selection/Selection.java
  Selection/SelectionTest.java
  Selection/makefile
Labels: selection

#44 File
  Selection/GitUser.java
  Selection/Selection.java
  Selection/SelectionTest.java
  Selection/TestData/Comment.java
  Selection/TestData/Issue.java
  Selection/TestData/MakeshiftExtraction.java
  Selection/TestData/Repo.java
  Selection/TestData/TestExtract.java
  Selection/json-20190722.jar
  Selection/makefile
Labels: selection

#45 Get user's repo and repo url
  Selection/GitUser.java
  Selection/commons-beanutils-1.8.3.jar
  Selection/commons-collections-3.2.1.jar
  Selection/commons-lang-2.6.jar
  Selection/commons-logging-1.1.1.jar
  Selection/ezmorph-1.0.6.jar
  Selection/json-20190722.jar
  Selection/json-lib-2.4-jdk15.jar
  Selection/makefile
Labels: selection

#55 Git url
  Selection/GitUser.java
Labels: selection

#59 Optimized code
  Selection/GitUser.java
Labels: selection

#62 add greeting which makes more humanity. add selection part which let …
  Selection/GitUser.java
Labels: selection

#65 small change
  Selection/GitUser.java
Labels: selection

#82 Git url
  Selection/Demo.java
  Selection/GitUser.java
Labels: selection

#83 add number to each line and fix some problem
  Selection/GitUser.java
Labels: selection

#84 compelete case 1 and case 2
  Selection/GitUser.java
Labels: selection

#112 Demo1
  Selection/Demo_s.java
  Selection/junit-platform-console-standalone-1.2.0.jar
  src/selection/makefile
Labels: selection

#111 moved files from Extraction folder to src, split extraction package t…
  Extraction/extraction/Collaborator.java
  Extraction/extraction/CollaboratorTest.java
  Extraction/extraction/Comment.java
  Extraction/extraction/CommentTest.java
  Extraction/extraction/Commit.java
  Extraction/extraction/CommitTest.java
  Extraction/extraction/Extraction.java
  Extraction/extraction/ExtractionTest.java
  Extraction/extraction/Issue.java
  Extraction/extraction/Repository.java
  Extraction/junit-platform-console-standalone-1.2.0.jar
  src/.makefile.swp
  src/Demo.java
  src/analysis/Analysis.java
  src/commons-beanutils-1.8.3.jar
  src/commons-collections-3.2.1.jar
  src/commons-lang-2.6.jar
  src/commons-logging-1.1.1.jar
  src/cs_appstate_checks.xml
  src/extraction/Extraction.java
  src/extraction/ExtractionTest.java
  src/extraction/IssueTest.java
  src/extraction/RepoTest.java
  src/extraction/makefile
  src/ezmorph-1.0.6.jar
  src/github/Collaborator.java
  src/github/CollaboratorTest.java
  src/github/Comment.java
  src/github/CommentTest.java
  src/github/Commit.java
  src/github/CommitTest.java
  src/github/Issue.java
  src/github/IssueTest.java
  src/github/Repository.java
  src/github/RepositoryTest.java
  src/json-lib-2.4-jdk15.jar
  src/makefile
  src/makefile_ext
Labels: extraction

#116 Local date to date
  src/Extraction_Demo.java
  src/analysis/AnalysisTest.java
  src/github/Collaborator.java
  src/github/Comment.java
  src/github/Commit.java
  src/github/Issue.java
  src/github/Repository.java
  src/makefile_ext
Labels: Analysis

#115 Added comment ArrayLists to Commits and Issues
  src/Extraction_Demo.java
  src/github/Collaborator.java
  src/github/Comment.java
  src/github/Commit.java
  src/github/Issue.java
  src/github/Repository.java
  src/makefile_ext
Labels: extraction
